@mixin display-type ($displayContent, $justify, $alignContent: null, $alignItems: null, $flexDirection: null) {
    display: $displayContent;
    justify-content: $justify;
    align-content: $alignContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}

@mixin box-shadow {
    -webkit-box-shadow: 0px 2px 10px 1px rgba(226, 211, 4, 1);
    -moz-box-shadow: 0px 2px 10px 1px rgba(226, 211, 4, 1);
    box-shadow: 0px 2px 10px 1px rgb(226, 211, 4);
}

@mixin primary-btn ($padding, $margin, $borderRadius, $fontSize, $backgroundColor, $border) {
    padding: $padding;
    font-size: xxx-large;
    margin: $margin;
    border-radius: $borderRadius;
    font-size: $fontSize;
    background-color: $backgroundColor;
    border: $border;
}