#home {
   background-image: url(../assets/cab-bg.jpg);
   background-size: 100% 100%;
    height: 100vh;
    @include display-type(flex, space-between, "", "", column);

    a {
        color: $priamry-text-color;
        text-decoration-line: none;

    }
}


.home-bottom-btn {
    @include display-type(flex, center);

    .primary-btn {
        @include primary-btn(10px 35px, 25px 0px, 40px, $xx-lg, $primary-color, none);   
        font-size: $xxx-lg;

        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
            @include box-shadow(10px 10px 14px 6px rgba(5, 5, 5, 1));
        }
    }
}