
body {
    color: $secondary-text-color;
}

#login {
    @include display-type(flex, flex-end, "", center);
    height: 100vh;

    .login-section {
        @include box-style(3*$sm $sm $sm, 3*$sm, 1px solid $darkgrey, $sm);
        @include box-shadow(10px 18px 21px -7px rgba(14, 14, 14, 1));
        background: #030110;
        opacity: .9;

        .login-details {
            @include display-type(flex, flex-end, "", center);
            margin: 2*$sm;
            font-size: $xx-lg;

            .input {
                @include box-style(0px 0px 0px 10px, 0px 0px 0px 5px, 1px solid $purple, 5px);
                font-size: $x-lg;
                border-bottom: 3px solid $primary-color;
                background-color: $secondary-text-color;

            }

            input:focus {
                outline: none;
            }

            #redirect {
                width: 40%;
                font-size: large;
                margin: 0px;
                
                a {
                    color: $primary-color   ;
                    text-decoration: none;
                }
            }

            #submit {
                @include primary-btn(5px 2*$sm, 2*$sm 0px 0px, 5px, xx-large, $primary-color, none);
                border-bottom: 5px solid $primary-color;
                color: $secondary-text-color;

                &:hover {
                    @include box-shadow(0px 0px 6px 8px rgba(130, 23, 109, 1));

                }
            }

            &.login-footer {
                display: flex;
                justify-content: space-between;
                align-items: end;
            }
        }
    }
}