@import 'variable';
@import 'root';

@import'./header';
@import './login';
@import './home';
@import'./register';
@import'./ride';



@include input-spin-button(none);

body {
    background-color: #fff;
    margin: 0px;

    button {
        cursor: pointer;
    }

    input[type=submit] {
        cursor: pointer;
    }

    input[type=checkbox] {
        cursor: pointer;
    }
    
}



