@import 'variable';
@import 'root';

@import'./header';
@import './login';
@import './home';
@import'./register';

@include input-spin-button(none);

body {
    margin: 0px;

    button {
        cursor: pointer;
    }

    input[type=submit] {
        cursor: pointer;
    }

    input[type=checkbox] {
        cursor: pointer;
    }
    
}

.secondary-btn {
    
}



